ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  margin-top: 50px;
  font-size: 1.25rem;
}

.navBar {
  background: rgb(102, 102, 102);
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: none;
  color: #ffc107;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

b {
  color: #ffc107;
}
